span
{
    transition: padding-right 0.5s ease,padding-left 0.5s ease;
}
a
{
    text-decoration: none;
    color: white;
}

main
{
    height : inherit;
}
main>section
{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
}
main>section>section
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 88vw;
    height: 35vw;
    position :relative;
}
.whiteBox
{
    width: 62vw;
    height: 35vw;
    border: #C4C4C4 1px solid;
    position: absolute;
    left: -1.5vw;
    top : 5.5vh;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.whiteBox p
{
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
    font-style: italic;
    padding: 1.5vh;
    margin: 0;
}
.videoShowreel
{
    width : 62vw;
    height: 35vw;
    display: flex;
    z-index: 2;
}
.videoShowreel iframe
{
    width: 62vw;
}
.columnText
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 19vw;
}

.columnText p
{
    font-family: "Oxygen",sans-serif;
    font-size: 2vh;
    color: white;
    text-align: justify;
    padding-right: 1vw;
    padding-left: 1vw;
}

p:hover a
{
    transition: font-weight 0.5s ease;
    font-weight: 600;
}
.columnText p:hover span
{
    padding-left: 15px;
    padding-right: 15px;
}
.columnText p span
{
    padding-left: 5px;
    padding-right: 5px;
}
footer
{
    position: inherit;
    margin-bottom: 20px;
}


@media (max-width: 1080px) {
    main
    {
        height: auto;
    }
    main>section>section
    {
        flex-direction: column;
        height: auto;
        width: 100vw;
    }
    .whiteBox
    {
        display: none;
    }
    .imageCombustion
    {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .columnText
    {
        width: 90%;
    }
    footer p
    {
        margin-top :5px;
    }
}


