span
{
    transition: padding-right 0.5s ease,padding-left 0.5s ease;
}
a
{
    text-decoration: none;
    color: white;
}

main
{
    height : inherit;
}
main>section
{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
    margin-top: 5vh;
}
main>section>section
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 92vw;
    height: 35vw;
    position :relative;
}
.whiteBox
{
    width: 62vw;
    height: 35vw;
    border: #C4C4C4 1px solid;
    position: absolute;
    left: -1.5vw;
    top : 5.5vh;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.whiteBox p
{
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
    font-style: italic;
    padding: 1.5vh;
    margin: 0;
}
.videoShowreel
{
    width : 62vw;
    height: 35vw;
    display: flex;
    z-index: 2;
}
.videoShowreel iframe
{
    width: 62vw;
}
.columnText
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 24vw;
}

/*.columnText p:first-of-type
{
    margin: 0;
}*/
.columnText p
{
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.45vw;
    text-align: justify;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}
#CV
{
    margin-top: 40px;
}

/*p:hover a
{
    transition: font-weight 0.5s ease;
    font-weight: 600;
}*/
.columnText p:hover span
{
    padding-left: 15px;
    padding-right: 15px;
}
.columnText p span
{
    padding-left: 5px;
    padding-right: 5px;
}
footer
{
    position: relative;
}


@media (max-width: 1080px) {
    main
    {
        min-height: 100vh;
        width: 100%;
    }
    header #pageName
    {
        font-size: 12vw;
    }
    main>section
    {
        margin-bottom: 3vh;
    }
    main>section>section
    {
        flex-direction: column;
        height: auto;
        width: 100vw;
    }
    .whiteBox
    {
        display: none;
    }
    .videoShowreel
    {
        width: 100vw;
        min-height: 54vw;
    }
    .videoShowreel iframe
    {
        width: 100vw;
        height: auto;
    }
    .imageCombustion
    {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .columnText
    {
        width: 84%;
        margin-top: 2vh;
    }
    .columnText p
    {
        font-family: 'Oxygen',sans-serif;
        font-style: normal;
        font-weight: lighter;
        font-size: 29px;
        line-height: 32px;
        text-align: justify;
        letter-spacing: 0.04em;
    }
    footer
    {
        margin-top: 3vh;
    }

}


