/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Lora', serif;*/
html
{
    --rouge : #FF5C5C;
    --rougeFonce : rgba(255, 92, 92, 0.2);
}

#bandesNoires
{
    height : 100vh;
    width : 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#showreel
{
    width : 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#showreel iframe
{
    height: 100%;
    width: 100%;
}
#contenu
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: red;*/

    text-transform: uppercase;
    color: white;
    position: absolute;
}

menu
{
    font-family: 'Hammersmith One', sans-serif;
    width : 31vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin : 2.5vh;
    padding: 0;
}

menu>li
{

}
menu>li>a
{
    color: white;
    text-decoration: none;
}
menu>li>a:hover
{
    border-bottom: solid 2px var(--rouge);
}
.active
{
    border-bottom: solid 2px var(--rouge);
}

