
html
{
    --rouge : #FF5C5C;
    --rougeFonce : rgba(255, 92, 92, 0.2);
}
section,div,p
{
    cursor: default;
}
a
{
    text-decoration: none;
    color: white;
}
span
{
    color: var(--rouge);
    transition: padding-right 0.5s ease,padding-left 0.5s ease;
}
body
{
    overflow: hidden;
}
#videoAccueil
{
    width : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color: black;
}

#videoAccueil video
{
    width:100vw;
    min-width: 100vw;
    min-height: 100vh;
}
main
{
    width: 100vw;
    position: relative;
    z-index: 2;
    top: 0;
}
.blackStripe
{
    height : 11.5vh;
    width : 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contenu
{
    width: 100%;
    height: 77vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contenu>section
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
}
#contenu img.displayMobile
{
    display: none;
}
#contenu img.notDisplay
{
    display: none;
}
menu
{
    font-family: 'Hammersmith One', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin : 2.5vh;
    padding: 0;
    font-size: 1.65vh;
    line-height: 17px;
    letter-spacing: 0.15em;
}
#contenu menu>ul
{
    width : 32vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}
#contenu menu>ul>li
{
    list-style: none;
    width: auto;
}
#contenu menu>ul>li>a
{
    color: white;
    text-decoration: none;
    position: relative;
}
#contenu menu>ul>li>a:hover {
    color: white;
    opacity: 1;
}
#contenu menu>ul>li>a:before {
    color: white;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--rouge);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#contenu menu>ul>li>a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#contenu menu div
{
    display: none;
}
.active {
    border-bottom: solid 2px var(--rouge);
}
.active:hover {
    border-bottom: none;
}
#contenu>section>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top : 3vh;
}

#contenu section h1
{
    font-family: Hammersmith One, sans-serif;
    font-size: 9vh;
    font-weight: lighter;
    letter-spacing: 1.3vw;
    margin :0;
    transition: letter-spacing 1s;
}
#contenu section h1:hover
{
    letter-spacing: 1.6vw;
}

#contenu section h2
{
    font-family: Hammersmith One, sans-serif;
    font-size: 2vh;
    font-weight: lighter;
    letter-spacing: 0.75vw;
    margin: 0.5vh;
    transition: letter-spacing 1s;
}

#contenu section h2:hover
{
    letter-spacing: 0.85vw;
}
#contenu section p
{
    font-family: Nobile,sans-serif;
    text-transform: none;
    margin-top: 14vh;
    cursor: pointer;
    font-weight: 400;
}
.button:hover {
    transition: color 0.5s ease;
    color: var(--rouge);
}
#contenu p:hover span
{
    padding-left: 15px;
    padding-right: 15px;
}
#contenu p span
{
    padding-left: 5px;
    padding-right: 5px;
}

#contenu>div
{
    width:200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: -13vh;
}

#contenu>div i
{
    color: white;
    font-size: 20px;
}

#contenu>div a:hover
{
    text-shadow: #cbcbcb 0px 0px 10px;
}

@media (max-width: 1080px){

    #videoAccueil
    {

    }
    #videoAccueil video
    {
        display: none;
    }
    main
    {
        height: 100vh;
    }
    #contenu
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 77vh;
        background-image: url("../img/icones_videos/Apocalypse_Snow.jpg");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-origin: border-box;
        background-position: 45%;
        background-color: black;
    }


    #contenu section
    {
        height: 42.5vh;
        text-align: center;
    }
    #contenu section img
    {
        position: fixed;
        z-index: 5;
        right: 40px;
        top: 40px;
        cursor: pointer;
        height: 6vw;
        width: 6vw;
    }
    #contenu section img.displayMobile
    {
        display: inherit;
    }

    #contenu section h1
    {
        font-size: 10vw;
    }

    #contenu section h2
    {
        font-size: 3.5vw;
        letter-spacing: 0.45vw;
        margin: 0.5vh 0 0.5vh 0;
    }
    #contenu section p
    {
        font-size: 4vw
    }
    #contenu>div
    {
        display: none;
    }

    menu
    {
        display: none;
        margin: 0;
        position: fixed;
        top:0;
        z-index: 4;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #contenu menu>ul
    {
        flex-direction: column;
        align-items: center;
        width: auto;
        height: 50vh;
        font-size: 5vw;
    }

    #contenu menu div
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 40vw;
        position: absolute;
        bottom: 3vh;
    }

    .display
    {
        display: flex;
    }
}

