
html
{
    --rouge : #FF5C5C;
    --rougeFonce : rgba(255, 92, 92, 0.2);
}
section,div,p
{
    cursor: default;
}
a
{
    text-decoration: none;
    color: white;
}
span
{
    color: var(--rouge);
    transition: padding-right 0.5s ease,padding-left 0.5s ease;
}

#bandesNoires
{
    height : 100vh;
    width : 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#showreel
{
    width : 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#showreel iframe
{
    height: 100%;
    width: 100%;
}
#showreel video
{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
#contenu
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 65vh;

    text-transform: uppercase;
    color: white;
    position: absolute;
}
#contenu img.displayMobile
{
    display: none;
}
#contenu img.notDisplay
{
    display: none;
}
menu
{
    font-family: 'Hammersmith One', sans-serif;
    width : 31vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin : 2.5vh;
    padding: 0;
}

#contenu menu>li
{

}
#contenu menu>li>a
{
    color: white;
    text-decoration: none;
}
#contenu menu>li>a:hover
{
    border-bottom: solid 2px var(--rouge);
}
.active
{
    border-bottom: solid 2px var(--rouge);
}

#contenu section
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenu section h1
{
    font-family: Hammersmith One, sans-serif;
    font-size: 9vh;
    font-weight: lighter;
    letter-spacing: 1.3vw;
    margin :0;
    transition: letter-spacing 1s;
}
#contenu section h1:hover
{
    letter-spacing: 1.6vw;
}

#contenu section h2
{
    font-family: Hammersmith One, sans-serif;
    font-size: 2vh;
    font-weight: lighter;
    letter-spacing: 0.75vw;
    margin: 0.5vh;
    transition: letter-spacing 1s;
}
#contenu section h2:hover
{
    letter-spacing: 0.85vw;
}
#contenu section p
{
    font-family: Nobile,sans-serif;
    text-transform: none;
    margin-top: 15vh;
    cursor: pointer;
}
#contenu p:hover
{
    font-weight: 600;
}
#contenu p:hover span
{
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1080px){

    #showreel
    {
        background-image: url("../img/icones_videos/combustionU.jpg");
    }
    #showreel video
    {
        display: none;
    }
    #contenu
    {
        justify-content: center;
        height: 100%;
    }
    #contenu img
    {
        position: fixed;
        z-index: 5;
        right: 20px;
        top: 20px;
        cursor: pointer;
        height: 15px;
        width: 15px;
    }
    #contenu img.displayMobile
    {
        display: inherit;
    }
    menu
    {
        display: none;
        margin: 0;
        position: fixed;
        top:0;
        z-index: 4;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .display
    {
        display: inherit;
    }
}
