main
{
    width:100%;
    height:auto;
}
header #pageName
{
    font-size: 13vh;
}
header>div>#descContent
{
    text-transform: uppercase;
    text-align: center;
    font-size: 2vh;
}

#pageName
{
    text-transform: uppercase;
}

main>section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 59vw;
    position:relative;
}
#video
{
    position: relative;
    z-index: 2;
}
iframe
{
    width: 59vw;
    height: 33vw;
    margin: 10px;
}
#whiteBox1
{
    position: absolute;
    z-index: 1;
    height: 40vh;
    width: 69vw;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    top: 34vh;
}
#description {
    font-family: Oxygen, sans-serif;
    font-size: 1.5vh;
    letter-spacing: .15em;
    font-weight: 800;
}

#text {
    font-family: "Oxygen", sans-serif;
    font-size: 16.5px;
    letter-spacing: .1em;
    padding-bottom: 8vh;
    font-weight: 200;
    z-index: 2;
}
.lien_int {
    color: var(--rouge);
    text-decoration: none;
}
#whiteBox2
{
    position: absolute;
    z-index: 1;
    height: 40vh;
    width: 69vw;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    bottom: 0px;
}
#infos
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 59vw;
}
#infos>div
{
    display: flex;
    flex-direction: column;
    min-width: 20vw;
    padding-right: 10px;
}
#infos h4 {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    letter-spacing: 0.65vh;
}
#infos span
{
    padding-right: 15px;
}

#infos p
{
    font-family: Oxygen,sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    /*letter-spacing: 0.75vh;*/
}
.colab_style {
    color: white;
    text-decoration: none;
}
footer
{
    position: relative;
    margin-top: 20px;
}
@media (max-width: 800px) {

    main>header>div>#pageName {
        font-size: 7vw;
    }
}

@media (max-width: 1080px){

    main>header>div>#pageName
    {
        font-size: 7vw;
        text-align: center;
    }
    #arrow
    {
        left: 20px;
    }
    header>div>#descContent
    {
        font-size: 2vw;
    }
    main>section
    {
        width: 90vw;
        font-size: 2vh;
    }
    #description
    {
        display: none;
    }
    #whiteBox1
    {
        display: none;
    }
    #whiteBox2
    {
        display: none;
    }
    #infos
    {
        flex-direction: column;
        width: 90vw;
        padding-left: 40px;
    }
    #text
    {
        font-size: 2vh;
    }
}

