/*
font-family: 'Oxygen', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Nobile', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

html
{
    --rouge : #FF5C5C;
    --rougeFonce : rgba(255, 92, 92, 0.15);
}

section,div,p
{
    cursor: default;
}


main
{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
header menu
{
    font-family: 'Hammersmith One', sans-serif;
    margin : 2.5vh 2.5vh 5vh 2.5vh;
    padding: 0;
    min-width: 295px;
    letter-spacing: 0.3vh;
    font-size: 1.75vh;
}
header img.displayMobile
{
    display: none;
}
header img.notDisplay
{
    display: none;
}
header menu>ul
{
    width : 31vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
header menu>ul>li>a {
    color: white;
    text-decoration: none;
    position: relative;
}
header menu>ul>li>a:hover {
    color: white;
    opacity: 1;
}
header menu>ul>li>a:before {
    color: white;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--rouge);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
header menu>ul>li>a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.active {
    border-bottom: solid 2px var(--rouge);
}
header>div {
    height: 16vh;
    /*border: solid 1px white;*/
    position : relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin : 3.5vh;
}
header #pageName {
    font-size: 15vh;
    color: var(--rougeFonce);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1.5vh;
    text-align: center;
}
header>div #descContent {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2vh;
    letter-spacing: 0.9vh;
    text-align: center;
    width: 90vw;
}
span
{
    color: var(--rouge);

}

footer
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    position : absolute;
    bottom: 1vh;
}

footer p
{
    margin: 30px 0 0 0;

}

@media (max-width: 1080px){

    header #pageName
    {
        font-size: 10vw;
        text-align: center;
    }
    header>div>#descContent
    {
        font-size:1.5vw;
    }
    header img
    {
        position: fixed;
        z-index: 5;
        right: 40px;
        top: 40px;
        cursor: pointer;
        height: 6vw;
        width: 6vw;
    }
    header img.displayMobile
    {
        display: inherit;
    }
    header menu
    {
        display: none;
        margin: 0;
        position: fixed;
        z-index: 4;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header menu>ul
    {
        flex-direction: column;
        align-items: center;
        height: 50vh;
        font-size: 5vw;
    }
    .display
    {
        display: flex;
    }
    footer
    {
        position: relative;
        padding: 10px;
    }
}



