/*
font-family: 'Oxygen', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Nobile', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

html
{
    --rouge : #FF5C5C;
    --rougeFonce : rgba(255, 92, 92, 0.2);
}

section,div,p
{
    cursor: default;
}

main
{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header menu
{
    font-family: 'Hammersmith One', sans-serif;
    width : 31vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin : 2.5vh;
    padding: 0;
}
header menu>li
{

}
header menu>li>a
{
    color: white;
    text-decoration: none;
}
header menu>li>a:hover
{
    border-bottom: solid 2px var(--rouge);
}
.active
{
    border-bottom: solid 2px var(--rouge);
}

header>div
{
    height: 16vh;
    /*border: solid 1px white;*/
    position : relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin : 2.5vh;
}
header #pageName
{
    font-size: 13vh;
    color: var(--rougeFonce);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.975vh;
}

header>div #descContent
{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.75vh;
    letter-spacing: 0.75vh;
    display: flex;
    flex-wrap: nowrap;
}
span
{
    color: var(--rouge);
}

footer
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    position : absolute;
    bottom: 1vh;
}

footer p
{
    margin :0;
}

